.carousel-container
    .carousel
        .carousel__list
            house-item(v-for="item in items",
                v-bind:house-name="item.name",
                v-bind:house-description="item.description",
                v-bind:house-image="item.image",
                v-bind:house-link="item.name")
