.nav-container
    .nav
        .nav__logo
            a(href="#"): img(src="static/logo.png").nav__logoimg
        .nav__list
            ul.nav__ul
                li(v-for="item in items").nav__listelement: a(href="#") {{ item.name }}
                li.nav__listelement: a(href="#") Contact
        .nav__madeby
            p.nav__madeby.type__code: a(href="http://www.jackfriend.com") <i class="fa fa-code"></i> with <i class="fa fa-heart"></i> by jF
