.nav-container
    .nav-img-wrapper
        .nav-img
            a(href="index.html").nav-logo: img(src="/static/logo.png").nav-logo

    .nav-bar-wrapper
        ul.nav-bar-list
            li: a(href="#").nav-bar-li 14 Platt Place, Wp
            li: a(href="#").nav-bar-li 85 Woodruff Lane, Hp
            li: a(href="#").nav-bar-li Contact

    .nav-social-media-wrapper
        p(style="margin: 10px auto") simple content
