#nav
    .nav__logo
        a(href="#"): img(src="static/logo.png").nav__logo__img
    .nav__list
        ul.nav__ul
            li(v-for="item in items").nav__li: a(href="#") {{ item.name }}
    .nav__social
        p content
