.overlay-container--active {
    display: block;
}

.overlay--show {
    display: block;
}

.overlay--hide {
    display: none;
}

.overlay__img--current {
    display: block;
}

.overlay__img--hide {
    display: none;
}

.overlay__btnprev--mobile, .overlay__btnnext--mobile {
    display: none;
}

.overlay__gallery--mobile {
    width: 100%;
}

.overlay__img--mobile img {
    width: 100%;
}
