.overlay-container--active {
    display: block;
}

.overlay--show {
    display: block;
}

.overlay--hide {
    display: none;
}

.overlay__img--current {
    display: block;
}

.overlay__img--hide {
    display: none;
}
