*, html, body {
    color: #222;
}

p, li {
    font-family: 'Source Sans Pro';
    font-size: .9em;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {

    }
}

.contact {
    h1 {
        font-family: 'Lora';
        color: #ffffff;
        font-size: 3em;
    }
}

.nav-bar-li {
    color: #494949;
    font-weight: 500;

    &:hover {
        color: #111;
    }
}

@media (max-width: $small-bp) {
    .nav-bar-wrapper {
        font-size: 1.5em;
        line-height: 3em;
    }
}
