$grey-text: #494949;
$black-text: #222222;
$teal-text: #009688;

$sans: 'Roboto', sans-serif;
$monospace: 'Inconsolata', monospace;

.nav__logo, .nav__list, .nav__madeby {
    font-family: $sans;
    font-size: .9em;
}

a {
    text-decoration: none;
    color: $grey-text;
    &:hover {
        color: $black-text;
    }
}

.type__code {
    font-family: $monospace;
    font-size: 1em;
}

h1, h2, h3, h4, h5, h6, ol, ul, li, p, span, a {
    font-family: $sans;
}

.carousel__item {
    h1, h2, h3, h4, h5, h6 {
        font-size: 1.5em;
        font-weight: 400;
        color: $grey-text;
    }

    p {
        color: $black-text;
        font-weight: 200;
    }

    .carousel__button a {
        text-transform: uppercase;
        font-size: 1.1em;
        font-weight: 600;
        color: $teal-text;
    }
}

.overlay {
    h1, h2, h3, h4, h5, h6 {
        font-size: 1.5em;
        font-weight: 400;
        color: $grey-text;
    }

    p, ul, li {
        color: $black-text;
        font-weight: 200;
    }
}
