.nav__logo, .nav__list, .nav__madeby {
    font-family: 'Source Sans Pro';
    font-size: .9em;
}

a {
    text-decoration: none;
    color: #494949;
    &:hover {
        color: #000000;
    }
}

.type__code {
    font-family: 'Inconsolata', monospace;
    font-size: 1em;
}

h1, h2, h3, h4, h5, h6, p, span, a {
    font-family: 'Roboto', sans-serif;
}

.carousel__item {
    h1, h2, h3, h4, h5, h6 {
        font-size: 1.5em;
        font-weight: 400;
        color: #333;
    }

    p {
        color: #222;
        font-weight: 200;
    }

    .carousel__button a {
        text-transform: uppercase;
        font-size: 1.1em;
        font-weight: 600;
        color: #009688;
    }
}
