doctype html
head
    title Grace Friend Realtor
    link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet")
    link(rel="stylesheet", type="text/css", href="static/main.css")
body
    include includes/_nav.pug
